VITE_FIREBASE_API_KEY=AIzaSyCKBOBkuB_Z3dYn660QHdf1VDve_-EIlPA
VITE_FIREBASE_AUTH_DOMAIN=voltic-aee22.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=voltic-aee22
VITE_FIREBASE_STORAGE_BUCKET=voltic-aee22.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=359714391479
VITE_FIREBASE_APP_ID=1:359714391479:web:46786c55d9f3efeb245432
VITE_FIREBASE_MEASUREMENT_ID=G-5725PC2XSW
